<configuration>
  <!-- .xml because visual studio is somethimes unhappy with web.config file :) -->
  <system.webServer>
    <staticContent>
     <mimeMap fileExtension="jpg" mimeType="image/jpeg" />
      <mimeMap fileExtension=".md" mimeType="text/markdown" />
      <mimeMap fileExtension=".json" mimeType="text/json" />
    </staticContent>

    <httpErrors errorMode="Custom" existingResponse="Auto" defaultResponseMode="ExecuteURL" >
      <remove statusCode="404"/>
      <error statusCode="404" responseMode="ExecuteURL" path="/index.html" />
    </httpErrors>

    <rewrite>
      <rules>
        <clear />
        <rule name="Redirect to https" stopProcessing="true">
          <match url=".*" />
          <conditions>
            <add input="{HTTPS}" pattern="off" ignoreCase="true" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" redirectType="Permanent" appendQueryString="false" />
        </rule>
      </rules>
    </rewrite>

    <httpProtocol>
     <customHeaders>
       <add name="Access-Control-Allow-Origin" value="*" />
     </customHeaders>
   </httpProtocol>
  </system.webServer>

  <!-- to prevent caching of URL's of scripts -->
  <location path="index.html">
    <system.webServer>
      <httpProtocol>
        <customHeaders>
          <add name="Cache-Control" value="no-cache" />
        </customHeaders>
      </httpProtocol>
    </system.webServer>
  </location>
</configuration>
